<header class="page-header">
  <a href="" class="page-header__logo logo">
    <img class="logo__img" src="img/icon-logo.svg" alt="Кинотеатр Green Screen">
  </a>
  <div class="breadcrumbs">
    <a href="" class="breadcrumbs__link">Главная</a>
    <a href="" class="breadcrumbs__link">Сеансы</a>
    <a class="breadcrumbs__link is-active">Кекс наносит ответный удар</a>
  </div>
  <div class="page-header__location location">
    <div class="location__field">
      <p class="location__input">Кинотеатр «На Карповке»</p>
    </div>
    <div class="location__option">
      <a href="" class="location__item">Кинотеатр «На Ленинском»</a>
    </div>
  </div>
</header>
