<nav class="page-main__nav main-nav">
  <ul class="main-nav__list">
    <li class="main-nav__item">
      <a href="" class="main-nav__link main-nav__link--ticket">Сеансы</a>
    </li>
    <li class="main-nav__item">
      <a href="" class="main-nav__link main-nav__link--cinema">Трейлеры</a>
    </li>
    <li class="main-nav__item">
      <a href="" class="main-nav__link main-nav__link--news">Новости</a>
    </li>
    <li class="main-nav__item">
      <a href="" class="main-nav__link main-nav__link--info">О нас</a>
    </li>
    <li class="main-nav__item">
      <a href="" class="main-nav__link main-nav__link--map">Контакты</a>
    </li>
  </ul>
  <div class="main-nav__user user">
    <a href="" class="user__name">Аккаунт</a>
  </div>
</nav>
