<nav class="page-main__nav main-nav">
  <ul class="main-nav__list">
    <li class="main-nav__item">
      <a href="" class="main-nav__link">Сеансы</a>
    </li>
    <li class="main-nav__item">
      <a href="" class="main-nav__link">Трейлеры</a>
    </li>
    <li class="main-nav__item">
      <a href="" class="main-nav__link">Новости</a>
    </li>
    <li class="main-nav__item">
      <a href="" class="main-nav__link">О нас</a>
    </li>
    <li class="main-nav__item">
      <a href="" class="main-nav__link">Контакты</a>
    </li>
  </ul>
  <div class="main-nav__user user">
    <a href="" class="user__name">Аккаунт</a>
  </div>
</nav>
