.page-main {
  display: grid;
  grid-template-columns: 258px 1fr 360px;
  &__wrapper {
    box-sizing: border-box;
    padding: 60px;
  }
  &__preview-ticket {
    background-color: #5957DB;
    box-sizing: border-box;
    padding: 40px 60px;
  }
}
