img {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  background-color: #ffffff;
  color: #000000;
  display: grid;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  min-width: 320px;
  min-height: 100vh;
}
